@import "./vars";

section {
    padding: 30px 0;
}

.seperator {
    display: inline-block;
    width: 80px;
    position: relative;
    margin: -10px 0 20px 0;
    border-bottom: 2px solid $main-color;
}

p {
    font-size: 1.2rem;
}

ul {
    list-style: none;
    line-height: 1.6;

    li {
        font-size: 1.2rem;
        line-height: 1.6;
    }
}