<section>
    <div class="container">
        <h2>About</h2>
        <span class="seperator"></span>
        <div class="row">
            <div class="col-lg-3 col-md-12">
                <div class="about__image img-container">
                    <img src="https://picsum.photos/800/800" alt="img" class="img-fluid">
                </div>
            </div>
            <div class="col-lg-9 col-md-12">
                <div class="about__content">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe nesciunt aperiam explicabo quaerat
                        et! Quo sed laboriosam harum dolores eos consectetur, earum, vero ab unde id placeat dolore
                        repudiandae sit.</p>
                    <div class="about__list">
                        <div class="row">
                            <div class="col-lg-6 col-md-12 col-sm-12">
                                <ul>
                                    <li><i class="fa-solid fa-chevron-right"></i>Lorem, ipsum dolor.</li>
                                    <li><i class="fa-solid fa-chevron-right"></i>Lorem, ipsum dolor.</li>
                                    <li><i class="fa-solid fa-chevron-right"></i>Lorem, ipsum dolor.</li>
                                    <li><i class="fa-solid fa-chevron-right"></i>Lorem, ipsum dolor.</li>
                                </ul>
                            </div>
                            <div class="col-lg-6 col-md-12 col-sm-12">
                                <ul>
                                    <li><i class="fa-solid fa-chevron-right"></i>Lorem, ipsum dolor.</li>
                                    <li><i class="fa-solid fa-chevron-right"></i>Lorem, ipsum dolor.</li>
                                    <li><i class="fa-solid fa-chevron-right"></i>Lorem, ipsum dolor.</li>
                                    <li><i class="fa-solid fa-chevron-right"></i>Lorem, ipsum dolor.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Recusandae placeat possimus mollitia
                        illo repellat cum esse aliquam fugit ea laborum rem, tenetur aperiam officiis! Harum atque
                        inventore iusto perspiciatis vitae tempore illum dicta id deserunt saepe, nam, culpa nisi error
                        accusantium a molestiae vel natus quia cum ut autem nihil.</p>
                </div>
            </div>
        </div>
    </div>
</section>